<div class="row">
  <div class="col"><h2>Seu agendamento foi realizado com sucesso</h2></div>
</div>

<div class="row justify-content-md-center">
  <div class="col-md-6 col-md-auto">
    <div id="confirm-list"></div>

    <ul id="ios" class="list-group">
      <li class="list-group-item">
        Para adicionar o Hostess à sua área de trabalho, sigo o passo a passo a
        seguir.
      </li>
      <li class="list-group-item">
        1. Clique no ícone de compartilhamento do seu navegador(Safari) 
      </li>
      <li class="list-group-item">
        <img
          class="img-fluid"
          src="https://c866088.ssl.cf3.rackcdn.com/assets/ios_share_1.png"
          alt=""
        />
      </li>
      <li class="list-group-item">
        2. Selecione a opção "Adicionar à tela inicial"
      </li>
      <li class="list-group-item">
        <img
          class="img-fluid"
          src="https://c866088.ssl.cf3.rackcdn.com/assets/ios_homepage.png"
          alt=""
        />
      </li>
    </ul>

    <ul id="android" class="list-group">
      <li class="list-group-item">
        Para adicionar o Hostess à sua área de trabalho, sigo o passo a passo a
        seguir.
      </li>
      <li class="list-group-item">
        1. Clique nos três pontinhos no canto superior direito do navegador
      </li>
      <li class="list-group-item">
        2. Clique na opção “Adicionar a área de trabalho”
      </li>
    </ul>

    <button
      id="reschedule"
      type="submit"
      class="btn btn-lg btn-warning  btn-block mt-3"
    >
      Nova consulta
    </button>
  </div>
</div>
