<div class="row">
    <div class="col">
        <h2>Seu agendamento foi realizado com sucesso</h2>
    </div>

</div>

<div class="row justify-content-md-center">
    <div class="col-md-6 col-md-auto">

        <ul id="confirm-list" class="list-group"></ul>

        <article id="desktop">
            <h5>No dia da consulta, realize seu check-in no Totem, informando seu número de telefone cadastrado ou seu CPF.</h5>
        </article>

        <article id="android"></article>
        <article id="ios">

        </article>

        <button id="reschedule" type="submit" class="btn btn-lg btn-warning  btn-block mt-3">
            Nova consulta
        </button>
    </div>
</div>